In [1]:
import pandas as pd
import numpy as np

import data_cleaning as dc

In [62]:
df = dc.ems_data()
df_2020 = dc.limit_dates(df, '01/01/2020', '12/31/2020')
df_2019 = dc.limit_dates(df, '01/01/2019', '12/31/2019')
df_2015_2019 = dc.limit_dates(df, '01/01/2015', '12/31/2019')

C:\Users\Jeffrey\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (7,11,17,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\Jeffrey\Desktop\Homework\Resource-Allocation-of-Emergency-Medical-Services\data_cleaning.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INCIDENT_DATE'] = df['INCIDENT_CLOSE_DATETIME'].dt.date

Time Points
- t1: Incident created
- t2: Incident assigned
- t3: Ambulance arrival
- t4: Hospital arrival
- t5: Incident closed

Time Variables
- t1 to t2: Dispatch response time
- t2 to t3: Travel time
- t1 to t3: Incident response time
- t1 to t5: Total time

Dispatches
- 9 dispatch locations in Manhattan
    - {M1, M2, ... M9}
- 4 without location
    - {CW, T1, X2, X4}

Codes
- 82: Transporting Patient
- 93: Refused Medical Aid

In [21]:
df_2020.columns

Index(['CAD_INCIDENT_ID', 'INCIDENT_DATETIME', 'INITIAL_CALL_TYPE',
       'INITIAL_SEVERITY_LEVEL_CODE', 'FINAL_CALL_TYPE',
       'FINAL_SEVERITY_LEVEL_CODE', 'FIRST_ASSIGNMENT_DATETIME',
       'VALID_DISPATCH_RSPNS_TIME_INDC', 'DISPATCH_RESPONSE_SECONDS_QY',
       'FIRST_ACTIVATION_DATETIME', 'FIRST_ON_SCENE_DATETIME',
       'VALID_INCIDENT_RSPNS_TIME_INDC', 'INCIDENT_RESPONSE_SECONDS_QY',
       'INCIDENT_TRAVEL_TM_SECONDS_QY', 'FIRST_TO_HOSP_DATETIME',
       'FIRST_HOSP_ARRIVAL_DATETIME', 'INCIDENT_CLOSE_DATETIME',
       'HELD_INDICATOR', 'INCIDENT_DISPOSITION_CODE', 'BOROUGH',
       'INCIDENT_DISPATCH_AREA', 'ZIPCODE', 'POLICEPRECINCT',
       'CITYCOUNCILDISTRICT', 'COMMUNITYDISTRICT', 'COMMUNITYSCHOOLDISTRICT',
       'CONGRESSIONALDISTRICT', 'REOPEN_INDICATOR', 'SPECIAL_EVENT_INDICATOR',
       'STANDBY_INDICATOR', 'TRANSFER_INDICATOR', 'INCIDENT_DATE'],
      dtype='object')

In [25]:
df_2020['INCIDENT_DISPATCH_AREA'].unique()

array(['M1', 'M9', 'M7', 'M5', 'M2', 'M3', 'X1', 'CW', 'M8', 'M4', 'M6',
       'K2', 'B5', 'B2', 'Q6', 'K3', 'K4', 'Q1', 'K6', 'K7', 'Q5', 'K5',
       'Q3', 'K1', 'B3', 'S1', 'B1', 'S2', 'Q7', 'Q4', 'Q2'], dtype=object)

In [56]:
l_2020, l_zip_2020, l_2019, l_zip_2019 = [], [], [], []

print('Median 2020: '+str(round(df_2020['INCIDENT_RESPONSE_SECONDS_QY'].dropna().median(), 2)))
print('  Median by ZIP 2020')
for i in df_2020['ZIPCODE'].dropna().unique():
    print('    '+str(i)[:-2]+': '+ str(df_2020.loc[df_2020['ZIPCODE']==i]['INCIDENT_RESPONSE_SECONDS_QY'].dropna().median())[:-2])
    l_2020.append(df_2020.loc[df_2020['ZIPCODE']==i]['INCIDENT_RESPONSE_SECONDS_QY'].dropna().median())
    l_zip_2020.append(str(i)[:-2])

print('\nMedian 2019: '+str(round(df_2019['INCIDENT_RESPONSE_SECONDS_QY'].dropna().median())))
print('  Median by ZIP 2019')
for i in df_2019['ZIPCODE'].dropna().unique():
    print('    '+str(i)[:-2]+': '+ str(df_2019.loc[df_2019['ZIPCODE']==i]['INCIDENT_RESPONSE_SECONDS_QY'].dropna().median())[:-2])
    l_2019.append(df_2019.loc[df_2019['ZIPCODE']==i]['INCIDENT_RESPONSE_SECONDS_QY'].dropna().median())
    l_zip_2019.append(str(i)[:-2])

Median 2020: 432.0
  Median by ZIP 2020
    10004: 344
    10035: 589
    10065: 395
    10001: 388
    10019: 406
    10021: 381
    10002: 405
    10036: 383
    10003: 362
    10018: 417
    10017: 371
    10013: 434
    10128: 447
    10005: 374
    10009: 389
    10033: 460
    10016: 320
    10028: 439
    10032: 447
    10030: 498
    10168: 285
    10011: 363
    10014: 413
    10025: 471
    10075: 383
    10029: 491
    10031: 518
    10010: 343
    10038: 344
    10023: 422
    10034: 569
    10007: 391
    10027: 488
    10024: 460
    10022: 390
    10006: 376
    10012: 418
    10121: 411
    10039: 567
    10040: 525
    10026: 481
    10153: 617
    10162: 329
    10020: 469
    10037: 450
    10112: 454
    10106: 495
    10280: 355
    10000: 569
    10111: 406
    10281: 423
    10282: 358
    10069: 433
    10055: 391
    10119: 390
    10165: 414
    10122: 433
    10103: 531
    10155: 415
    10123: 548
    10278: 451
    10271: 350
    10105: 313
    10110: 1012
    10120: 352
    10169: 416
    10041: 318
    10154: 574
    10172: 594
    10151: 820
    10174: 498
    10118: 315
    10167: 321
    10048: 424
    10158: 315
    10170: 466
    10173: 318
    10179: 483
    10107: 360
    10463: 572
    10178: 456
    10279: 463
    10171: 493
    10045: 216
    10176: 466
    12345: 787
    10152: 265

Median 2019: 447
  Median by ZIP 2019
    10003: 366
    10029: 497
    10026: 490
    10128: 449
    10025: 482
    10018: 465
    10021: 383
    10040: 541
    10028: 442
    10007: 432
    10001: 422
    10010: 365
    10016: 330
    10035: 612
    10011: 355
    10002: 416
    10037: 522
    10033: 476
    10036: 422
    10027: 502
    10022: 438
    10006: 423
    10019: 435
    10017: 384
    10005: 394
    10014: 413
    10032: 469
    10012: 436
    10031: 523
    10023: 431
    10065: 429
    10075: 391
    10038: 362
    10009: 398
    10165: 420
    10024: 476
    10004: 367
    10013: 465
    10039: 614
    10030: 533
    10034: 517
    10069: 425
    10278: 565
    10112: 480
    10000: 717
    10103: 683
    10280: 400
    10119: 441
    10121: 444
    10020: 476
    10282: 384
    10167: 441
    10154: 295
    10279: 452
    10155: 590
    10106: 431
    10118: 354
    10120: 348
    10168: 365
    10281: 383
    10174: 539
    10105: 511
    10041: 267
    10162: 372
    10123: 414
    10172: 390
    10055: 795
    11101: 689
    10271: 402
    10179: 583
    10169: 475
    10107: 406
    10129: 422
    10153: 560
    10115: 460
    10048: 434
    10158: 369
    10166: 753
    10111: 612
    10170: 462
    10463: 713
    10178: 356
    10122: 341
    10110: 470
    10177: 270
    10173: 390
    10171: 607
    10176: 449
    10152: 250
    10151: 2430

In [61]:
z_2020, z_2019 = pd.DataFrame({'ZIP': l_zip_2020, '2020': l_2020}), pd.DataFrame({'ZIP': l_zip_2019, '2019': l_2019})
zip_medians = z_2020.merge(z_2019, on='ZIP')
zip_medians.to_csv('zip_medians.csv', index=False)
zip_medians

      ZIP   2020   2019
0   10004  344.0  367.0
1   10035  589.0  612.0
2   10065  395.0  429.0
3   10001  388.0  422.0
4   10019  406.0  435.0
..    ...    ...    ...
80  10178  456.0  356.0
81  10279  463.0  452.5
82  10171  493.0  607.0
83  10176  466.0  449.0
84  10152  265.0  250.0

[85 rows x 3 columns]

In [81]:
# Calculate the average and max values for each dispatch location in 2020
subset_2020 = df_2020[['CAD_INCIDENT_ID', 'INCIDENT_DATE', 'INCIDENT_DISPATCH_AREA']]
subset_grouped = subset_2020.groupby(['INCIDENT_DATE', 'INCIDENT_DISPATCH_AREA']).count().reset_index()
subset_median_daily = subset_grouped.groupby(['INCIDENT_DISPATCH_AREA']).median()['CAD_INCIDENT_ID']
subset_max_daily = subset_grouped.groupby(['INCIDENT_DISPATCH_AREA']).max()['CAD_INCIDENT_ID']

subset_2015_2019 = df_2015_2019[['CAD_INCIDENT_ID', 'INCIDENT_DATE', 'INCIDENT_DISPATCH_AREA']]
subset_grouped_2015_2019 = subset_2015_2019.groupby(['INCIDENT_DATE', 'INCIDENT_DISPATCH_AREA']).count().reset_index()
subset_median_daily_2015_2019 = subset_grouped_2015_2019.groupby(['INCIDENT_DISPATCH_AREA']).median()['CAD_INCIDENT_ID']

x = pd.DataFrame({'DISPATCH_AREA': subset_median_daily.index, 'MAX': subset_max_daily, 'MEDIAN_2020': subset_median_daily})
y = pd.DataFrame({'DISPATCH_AREA': subset_median_daily_2015_2019.index, 'MEDIAN_2015_2019': subset_median_daily_2015_2019})
xy = x.merge(y, on='DISPATCH_AREA')
xy.to_csv('dispatch_values.csv', index=False)
xy

   DISPATCH_AREA  MAX  MEDIAN_2020  MEDIAN_2015_2019
0             B1    1          1.0               1.0
1             B2    2          1.0               1.0
2             B3    1          1.0               1.0
3             B5    2          1.0               1.0
4             CW    3          1.0               1.0
5             K1    1          1.0               1.0
6             K2    2          1.0               1.0
7             K3    1          1.0               1.0
8             K4    1          1.0               1.0
9             K5    1          1.0               1.0
10            K6    1          1.0               1.0
11            K7    2          1.0               1.0
12            M1  161        109.0             120.5
13            M2  250        166.0             179.5
14            M3  265        157.0             194.5
15            M4  102         73.0              77.0
16            M5  135         97.0             101.0
17            M6   64         35.0              33.0
18            M7  165        128.0             124.0
19            M8   95         53.5              53.0
20            M9  231        114.0             107.0
21            Q1    1          1.0               1.0
22            Q2    1          1.0               1.0
23            Q3    1          1.0               1.0
24            Q5    1          1.0               1.0
25            Q6    2          1.0               1.0
26            Q7    1          1.0               1.0
27            S1    1          1.0               1.0
28            S2    1          1.0               1.0
29            X1    6          6.0               6.0